@charset "UTF-8";
@use "foundation/normalize";
@use "foundation/base" as *;
@use "foundation/variable" as *;
@use "layout/header" as *;
@use "object/component/component" as *;
@use "object/project/index-top" as *;
@use "object/project/index-plan" as *;
@use "object/project/index-blog_list" as *;
@use "object/project/index-blog_details" as *;
@use "object/project/index-contact_form" as *;
@use "object/project/index-contact_send" as *;
@use "object/project/index-404" as *;
@use "object/project/index-search" as *;
@use "object/project/index-result_list" as *;
@use "object/project/index-result_details" as *;
@use "layout/footer" as *;