@charset "UTF-8";
@use "../../foundation/variable" as *;
@use "../../foundation/base" as *;
@use "../../foundation/normalize";

//共通パーツ【ボタン】
.c_button {
  background-color: $main_color;
  width: 150px;
  height: 45px;
  padding: 6px 29px 4px 29px;
  color: #fff;
  transition: background-color 0.4s, color 0.4s;
  border: 1px solid $main_color;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #fff;
    color: $main_color;
  }
}

//共通パーツ【コンタクトボタン】
.contact_button {
  width: 25rem;
  height: 5rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.32;
  @include mq($sm) {
    width: 33.5rem;
    font-size: 2rem;
    line-height: 1.3;
  }
}

//共通パーツ【ページタイトル】
.page_fv {
  padding-top: 8rem;
  @include mq($sm) {
    padding-top: 5rem;
  }
  .page_fv_container {
    position: relative;
    .page_fv_overlay {
      position: absolute;
      inset: 0; // top: 0; right: 0; bottom: 0; left: 0;
      background-color: rgba(80, 80, 80, 0.48);
      z-index: 1;
      pointer-events: none; // オーバーレイがクリックを邪魔しない
      mix-blend-mode: multiply;
    }
    h1.page_fv_title {
      position: absolute;
      text-align: center;
      top: 38%;
      left: 50%;
      transform: translateX(-50%);
      color: #fff;
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 2.4;
      z-index: 2;
      @include mq($sm) {
        font-size: 2.5rem;
        top: 42%;
      }
    }
  }
}
//画像サムネタイトル
span.img_title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.667;
  position: absolute;
  top: 0;
  left: 0;
  background: #cb0000;
  color: #fff;
  width: 8rem;
  text-align: center;
  padding: 0.3rem 0;
  @include mq($sm) {
    width: 9rem;
  }
  &.related_img_title {
    width: 8rem;
  }
}

//共通パーツ【パンくずリスト】
nav.breadcrumb {
  background-color: #e8e8e8;
  width: 100%;
  &:first-child {
    padding-top: 8rem;

    @include mq($sm) {
      padding-top: 5rem;
    }
  }

  .breadcrumb_container {
    ul.breadcrumb_list {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      column-gap: 1.7rem;
      @include mq($sm) {
        overflow-x: auto;
        white-space: nowrap;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      li {
        display: flex;
        align-items: center;
        flex-shrink: 0; // 横スクロール時に潰れないようにする
        height: 5rem;
        @include mq($sm) {
          height: 3.6rem;
        }
        &:not(:last-child)::after {
          content: ">";
          font-size: 1.6rem;
          margin-left: 1.7rem; // column-gapと合わせて調整
          color: #000;
        }

        a.breadcrumb_link {
          display: flex;
          align-items: center;
          height: 100%;
          text-decoration: none;
          color: #000;
          transition: opacity 0.4s;
          &:hover {
            opacity: 0.7;
          }
        }
      }

      li:last-child {
        line-height: 1.45;
        @include mq($sm) {
          line-height: 1.25;
        }
      }
    }
  }
}

//共通パーツ セクションタイトル
.sec_title {
  text-align: center;
  h2 {
    font-size: 2.5rem; //
    font-weight: 700;
    line-height: 1.667;
    @include mq($sm) {
      font-size: 2.5rem;
      line-height: 1.6;
    }
  }
}

.top_sec_title {
  text-align: center;
  h2 {
    font-size: 3rem; //
    font-weight: 700;
    line-height: 1.667;
    @include mq($sm) {
      font-size: 2.5rem;
      line-height: 1.6;
    }
  }
}

//共通パーツ リスト
.blog_list {
  ul {
    li.blog_item {
      margin-bottom: 7rem;
      @include mq($sm) {
        margin-bottom: 4rem;
      }
      a {
        display: flex;
        gap: 5rem;
        transition: opacity 0.4s;
        @include mq($sm) {
          flex-direction: column;
          gap: 3rem;
        }
        &:hover {
          opacity: 0.7;
        }
        .blog_item_left {
          position: relative;
          @include mq($sm) {
            width: 100%;
          }
          .blog_item_img {
            width: 26rem;
            @include mq($sm) {
              width: 100%;
            }
          }
        }
        .blog_item_right {
          h3 {
            font-size: 2rem;
            line-height: 1.25;
            font-weight: 700;
            margin-bottom: 0.3rem;
            @include mq($sm) {
              margin-bottom: 0.6rem;
              line-height: 1.5;
            }
          }
          .time_right {
            font-size: 1.7rem;
            line-height: 1.765;
            @include mq($sm) {
              text-align: right;
            }
          }
          p {
            margin-top: 1.1rem;
            @include mq($sm) {
              font-size: 1.6rem;
              margin-top: 0.8rem;
              line-height: 1.875;
            }
          }
        }
      }
    }
  }
}

//共通パーツ【トップページスクロールボタン】
#page-top.back-to-top {
  position: fixed;
  z-index: 9999;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease; // ← ふわっと出る設定
  pointer-events: none;
  @media screen and (max-width: 767px) {
    left: 0;
    right: 0;
    margin-right: 0;
    align-items: flex-end;
  }
  &.is-visible {
    opacity: 1;
    visibility: visible;
  }

  img.back-to-top_btn {
    width: 6.8rem;
    height: 6.8rem;
    margin-right: 11.6rem;
    margin-bottom: 3rem;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    transition: opacity 0.4s ease;
    pointer-events: auto;
    &:hover {
      opacity: 0.7;
    }
    @media screen and (max-width: 767px) {
      margin-right: 2rem;
      margin-bottom: 2rem;
    }
  }

  .fixed-buttons__contact {
    width: 30rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: center;
    font-size: 2rem;
    line-height: 1.65;
    letter-spacing: 0.4rem;
    transition: opacity 0.4s ease, background-color 0.4s ease, color 0.4s ease;
    @media screen and (max-width: 767px) {
      width: 33.5rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

//前の記事 次の記事
div.article {
  margin-top: 5.4rem;
  @include mq($sm) {
    margin-top: 4.5rem;
  }
  div.article_page {
    display: flex;
    gap: 8rem;
    @include mq($sm) {
      gap: 2.2rem;
    }
    div.article_pagebox {
      a.article_link {
        transition: opacity 0.4s;
        .article_title_prev {
          width: 26rem;
          background-color: #000;
          color: #fff;
          font-size: 1.7rem;
          line-height: 1.765;
          padding: 0.4rem 0 0.3rem 2rem;
          @include mq($sm) {
            width: 100%;
          }
          @media screen and (max-width: 375px) {
            width: 15.6rem;
            padding: 0.4rem 0 0.3rem 2rem;
          }
        }
        div.article_textbox {
          display: flex;
          margin-top: 1.5rem;
          gap: 1.6rem;
          @include mq($sm) {
            gap: 0;
          }
          .article_textbox_img {
            flex-basis: 9.8rem;
            width: 9.8rem;
            flex-shrink: 0;
            @include mq($sm) {
              width: 0;
              flex-basis: 0;
            }
          }
          p.article_text {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.563;
          }
        }
        .article_title_next {
          width: 26rem;
          background-color: #000;
          color: #fff;
          text-align: right;
          padding: 0.4rem 2rem 0.3rem 0;
          @include mq($sm) {
            width: 100%;
          }
          @media screen and (max-width: 375px) {
            width: 15.6rem;
            font-size: 1.7rem;
            line-height: 1.765;
            padding: 0.4rem 2rem 0.3rem 0;
          }
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

//関連記事
div.related {
  margin-top: 10rem;
  @include mq($sm) {
    margin-top: 7.1rem;
  }
  div.related_content_box {
    h2 {
      background-color: #000;
      color: #fff;
      padding: 0.9rem 0 0.8rem 3rem;
      line-height: 1.833;
      @include mq($sm) {
        text-align: center;
        font-size: 1.8rem;
        line-height: 1.833;
        padding: 0.9rem 0 0.8rem 0rem;
      }
    }
    div.related_content {
      margin-top: 3rem;
      @include mq($sm) {
        margin-top: 2rem;
      }
      ul {
        li.related_content_item {
          &:last-child a {
            margin-bottom: 0;
          }
        }
        li.related_content_item {
          margin-bottom: 3rem;
          @include mq($sm) {
            margin-bottom: 2rem;
          }
          a {
            display: flex;
            gap: 3rem;
            transition: opacity 0.4s;
            @include mq($sm) {
              gap: 2rem;
            }
            &:hover {
              opacity: 0.7;
            }
            div.related_content_item_left {
              position: relative;
              flex-shrink: 0;
              flex-basis: 20rem;
            }
            div.related_content_textbox {
              h3 {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.25;
                margin-bottom: 1.3rem;
                flex-grow: 1;
                @include mq($sm) {
                  font-size: 1.7rem;
                  line-height: 1.647;
                  margin-bottom: 0.4rem;
                  margin-top: 1rem;
                }
              }
              p.time {
                margin-left: 0.4rem;
                @include mq($sm) {
                  margin-left: 0;
                }
              }
            }
          }
        }
        .related_content_item:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

//ページネーション
.page {
  @include mq($sm) {
    padding-top: 2rem;
  }

  .Pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    @include mq($sm) {
      gap: 0.5rem;
    }
  }

  .Pagination-Item-Link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: #fff;
    border: 1px solid #000;
    color: #000;
    font-weight: bold;
    transition: background-color 0.4s linear, color 0.4s linear;
    @include mq($sm) {
      width: 4.4rem;
      height: 4.4rem;
    }
  }
  .isActive {
    background: #000;
    color: #fff;
  }
  a.Pagination-Item-Link:not(.isFirst):hover {
    background: #000;
    color: #fff;
  }

  .Pagination_ellipsis {
    margin: 0 1rem;
  }
}
