@charset "UTF-8";
@use "../../foundation/variable" as *;
@use "../../foundation/base" as *;
@use "../../foundation/normalize";

section.sec1_blog_details {
  padding: 7rem 0 19rem 0;
  @include mq($sm) {
    padding: 5.3rem 0 19.7rem 0;
  }
  .sec1_blog_details.inner {
    display: flex;
    gap: 3rem;
    @include mq($sm) {
      flex-direction: column;
      gap: 3rem;
    }
    .sec1_left_content {
      position: relative;
      flex: 1 1 60%;
      .sec1_left_img {
        max-width: 60rem;
      }
      .wp-post-image {
        aspect-ratio: 600 / 350;
        @include mq($sm) {
          aspect-ratio: 335 / 200;
        }
      }
      h1 {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.6;
        margin: 4.6rem 0 0.5rem 0;
        @include mq($sm) {
          font-size: 2rem;
          line-height: 1.5;
          margin: 3rem 0 0.5rem 0;
        }
      }
      time {
        font-size: 1.7rem;
        line-height: 1.765;
      }
      .sns_content {
        margin-top: 2.1rem;
        ul.sns_list {
          display: flex;
          gap: 0.4rem;
          @include mq($sm) {
            gap: 0.2rem;
          }
        }
        a {
          transition: opacity 0.4s;
          &:hover {
            opacity: 0.7;
          }
        }

        .sns_img_fb {
          width: 10.5rem;
          height: 4rem;
          @include mq($sm) {
            width: 6.5rem;
            height: 4rem;
          }
        }
        .sns_img_tw {
          width: 8.8rem;
          height: 4rem;
          @include mq($sm) {
            width: 6.5rem;
            height: 4rem;
          }
        }
        .sns_img_hatana {
          width: 9.3rem;
          height: 4rem;
          @include mq($sm) {
            width: 6.5rem;
            height: 4rem;
          }
        }
        .sns_img_line {
          width: 8.1rem;
          height: 4rem;
          @include mq($sm) {
            width: 6.5rem;
            height: 4rem;
          }
        }
        .sns_img_pocket {
          width: 9.1rem;
          height: 4rem;
          @include mq($sm) {
            width: 6.5rem;
            height: 4rem;
          }
        }
      }
      .blog_details_content {
        margin-top: 4.8rem;
        @include mq($sm) {
          margin-top: 2.7rem;
        }
        p {
          margin-block: 1.7rem;
        }
        h2 {
          margin-block: 3.3rem 1.5rem;
          font-size: 2rem;
          font-weight: bold;
          line-height: calc(40 / 20);
          @include mq($sm) {
            line-height: calc(30 / 20);
            margin-block: 4rem 1.5rem;
          }
        }

        figure {
          margin-block: 1.7rem;

          @include mq($sm) {
            margin-top: 3.9rem;
          }

          img {
            width: 33.5rem;
            aspect-ratio: 335 / 200;
            object-fit: cover;

            @include mq($sm) {
              width: 100%;
            }
          }
        }

        ul,
        ol {
          margin-block: 2.8rem;
          padding-left: 0;
          li {
            font-size: 1.8rem;
            line-height: 1.6;
            list-style: none;
            padding-left: 1em;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              left: 0.6rem;
              top: 0.6em;
              width: 3px;
              height: 3px;
              background-color: currentColor;
              border-radius: 50%;
            }
            @include mq($sm) {
              font-size: 1.6rem;
              line-height: 1.875;
            }
          }
        }
        h3 {
          margin-block: 4.3rem 1.7rem;
          font-size: 2rem;
          line-height: calc(40 / 20);
          font-weight: bold;
          padding-left: 1.1rem;
          position: relative;
          @include mq($sm) {
            line-height: calc(30 / 20);
            margin-block: 5rem 2rem;
          }
        }
        h3::before {
          content: "";
          content: "";
          width: 0.3rem;
          height: 2rem;
          height: calc(100% - 2rem);
          background: #000;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          @include mq($sm) {
            height: calc(100% - 1rem);
          }
        }

        blockquote {
          display: flex;
          column-gap: 0.8rem;
          padding: 1.8rem 3rem 1rem;
          margin-block: 1.7rem 2.9rem;
          position: relative;
          border: none;
          background: #e8e8e8;
          @include mq($sm) {
            column-gap: 1.7rem;
            padding: 1.7rem 2rem 1.1rem 2.5rem;
            margin-bottom: 2.6rem;
          }

          &::before {
            content: "";
            background: url(https://hamakoro-i.com/music_school/img/icon_logo/quotation.svg)
              center center / contain no-repeat;
            display: inline-block;
            width: 2.7rem;
            height: 2.34rem;
          }

          p {
            margin: 0;
            flex: 1;
          }
        }

        a {
          font-size: 2rem;
          font-weight: 700;
          color: $main_color;
          line-height: 1.65;
          text-decoration: underline;
          transition: opacity 0.4s;
          &:hover {
            opacity: 0.7;
          }
        }
        hr {
          margin-block: 4.1rem;
          border-bottom: 0.5px solid;
          @include mq($sm) {
            margin-top: 3.5rem;
          }
        }
      }
    }

    .wp-block-separator {
      border: none;
      border-top: 0.5px solid #ccc;
    }
    aside.sidebar {
      flex: 1 1 20%;
      @include mq($sm) {
        font-size: 1.8rem;
        line-height: 1.833;
      }

      // 共通：タイトル（h3からpに変更したもの）
      .sidebar_title {
        background: #000;
        color: #fff;
        padding: 1rem 0;
        text-align: center;
        font-weight: 700;
        margin: 0; // pタグの初期余白を消去
        @include mq($sm) {
          padding: 0.9rem 0 0.8rem 0;
        }
      }

      // 無料メールマガジン
      .sidebar_mail {
        margin-bottom: 3rem;
        .banner {
          border: 1px solid #000;
          padding: 1.5rem;
          a {
            display: block; // リンクを広げる
            transition: opacity 0.4s;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }

      // ブログ内検索
      .sidebar_search {
        margin-bottom: 3rem;
        .search_box {
          border: 1px solid #000;
          padding: 1.4rem;
          @include mq($sm) {
            padding: 2rem;
          }
          .search-container {
            background: #e8e8e8;
            position: relative;
            display: flex;
            .search-input {
              width: calc(100% - 4rem);
              height: 4rem;
              padding: 0 1.5rem;
              font-size: 1.4rem;
              border: none;
              background: transparent;
              @include mq($sm) {
                height: 5.4rem;
                width: calc(100% - 5.4rem);
              }
            }
            .search_icon {
              position: absolute;
              width: 4rem;
              height: 4rem;
              background-color: #000;
              top: 0;
              right: 0;
              @include mq($sm) {
                width: 5.4rem;
                height: 5.4rem;
              }
              .search-button {
                background-repeat: no-repeat;
                background-position: center;
                background-size: 50%;
                width: 100%;
                height: 100%;
                cursor: pointer;
                border: none;
                transition: opacity 0.4s;
                background-image: url(../img/icon_logo/icon-search.svg);
                background-color: transparent;
                &:hover {
                  opacity: 0.7;
                }
                @include mq($sm) {
                  background-image: url(../img/icon_logo/icon-search_sp.svg);
                }
              }
            }
          }
        }
      }

      // おすすめの記事
      .sidebar_posts {
        margin-bottom: 3rem;
        .post_list {
          margin-top: 1.5rem;
          @include mq($sm) {
            margin-top: 2rem;
          }
          .post_item {
            &:not(:last-child) {
              margin-bottom: 1.5rem;
              @include mq($sm) {
                margin-bottom: 2.1rem;
              }
            }
            .post_link {
              display: flex;
              gap: 1.5rem;
              text-decoration: none;
              color: inherit;
              transition: opacity 0.4s;
              &:hover {
                opacity: 0.7;
              }
              @include mq($sm) {
                gap: 2rem;
              }
              .post_img_wrapper {
                flex-shrink: 0;
                width: 9.5rem;
                overflow: hidden;
                @include mq($sm) {
                  width: 16rem;
                  height: 11rem;
                }
                .wp-post-image {
                  aspect-ratio: 95 / 75;
                  object-fit: cover;
                }
              }
              .post_item_title {
                font-size: 1.7rem;
                line-height: 1.647;
                margin: 0;
                @include mq($sm) {
                  margin-top: 1rem;
                }
              }
            }
          }
        }
      }
      // カテゴリー
      .sidebar_category {
        .category_list {
          .category_item {
            border-bottom: 0.5px solid #000;
            .category_link {
              display: block;
              font-size: 1.7rem;
              line-height: 1.647;
              padding: 1.2rem 0 0.6rem 0;
              text-decoration: none;
              color: inherit;
              transition: opacity 0.4s;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
  }
}
