@charset "UTF-8";
@use "../../foundation/variable" as *;
@use "../../foundation/base" as *;
@use "../../foundation/normalize";

section.plan_sec1 {
  padding: 6.7rem 0 5.7rem;
  @include mq($sm) {
    padding: 4.6rem 0 3.6rem;
  }
  .plan.sec1.inner {
    padding-inline: 2.7rem;
    @include mq($sm) {
      padding-inline: 2rem;
    }
    .plan_breakdown {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      margin: 3.6rem 0 4.8rem;
      @include mq($sm) {
        flex-direction: column;
        gap: 2rem;
        margin: 4rem 0 4.8rem;
      }
      .plan_fee_box {
        width: 21rem;
        height: 6rem;
        background-color: $main_color;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          color: #fff;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.65;
        }
      }
      .plan_fee_icon {
        width: 1.9rem;
      }
    }
    p {
      @include mq($sm) {
        font-size: 1.6rem;
        line-height: 1.875;
      }
    }
  }
}

section.plan_sec2 {
  padding-bottom: 22.3rem;
  @include mq($sm) {
    padding-bottom: 18.6rem;
  }
  .plan_sec2.inner {
    .plan_sec2_container {
      table.plan_table {
        font-size: 1.7rem;
        line-height: 1.471;
        margin-top: 4.7rem;
        @include mq($sm) {
          margin-bottom: 2rem;
          margin-top: 2rem;
        }
        td {
          text-align: center;
          height: 8.5rem;
          vertical-align: middle;
        }
        th {
          vertical-align: middle;
        }
        tbody {
          tr {
            td:not(:first-child):not(:last-child) {
              border-right: 1px solid #333;
            }
            .plan_head-title {
              font-size: 2rem;
              font-weight: 700;
              width: 22rem;
              text-align: center;
              color: #fff;
              line-height: 1.65;
              height: 8rem;
              @include mq($sm) {
                line-height: 1.25;
              }
              &.blank {
                background-color: #fff;
              }
              .plan-head__inner {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-end;
              }
              .plan-head__inner_red {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                @include mq($sm) {
                }
              }

              .plan-head__inner p {
                width: 100%;
                height: 5rem;
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.65;
                color: #fff;
                background: #000;
                @include mq($sm) {
                  height: 6.6rem;
                  line-height: 1.25;
                }
              }
              .plan-head__inner_red p {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.65;
                color: #fff;
                @include mq($sm) {
                  line-height: 1.25;
                }
              }

              &.basic,
              &.premium {
                background: linear-gradient(to bottom, white 3rem, black 3rem);
                @include mq($sm) {
                  background: linear-gradient(
                    to bottom,
                    white 2.6rem,
                    black 2.5rem
                  );
                  padding-bottom: 0.5rem;
                  @include mq($sm) {
                    padding-bottom: 0rem;
                  }
                }
              }
            }
            .standard {
              background-color: $main_color;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              span.plan_recommend {
                font-size: 1.7rem;
              }
            }
            &:nth-child(odd) {
              background-color: #50505026;
            }
            .plan_title_price {
              font-size: 1.7rem;
              font-weight: 700;
              padding: 0 2rem;
              line-height: 1.765;
              border-top: 1px solid #333;
              border-right: 1px solid #333;
              @include mq($sm) {
                font-size: 1.6rem;
                line-height: 1.875;
                padding: 0 1rem;
              }
            }
            .plan_title_price_basic,
            .plan_title_price_standard_red,
            .plan_title_price_premium {
              font-size: 2.2rem;
              line-height: 1.5;
              font-weight: 700;
            }
            .plan_title_price_standard_red {
              color: $main_color;
            }
          }
          .plan_title {
            border-right: 1px solid #000;
            padding: 0 2rem;
            font-weight: 500;
            @include mq($sm) {
              font-size: 1.6rem;
              line-height: 1.563;
              padding: 0 1rem;
            }
          }
          .plan_circle {
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background: #000;
          }
          .plan_text_plan_circle.last::after {
            top: 3.5rem;
          }

          .plan_text_circle_plan_circle,
          .plan_text_circle_plan_circle_red {
            position: relative;
          }
          .plan_circle_red {
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background-color: $main_color;
          }
          .plan_text_plan_border,
          .plan_text_plan_border_red {
            position: relative;
          }
          .plan_text_plan_border::after {
            position: absolute;
            content: "";
            width: 3rem;
            height: 0.1rem;
            background-color: #000;
            top: 4.25rem;
            transform: translateX(-50%);
          }
          .plan_text_plan_border_red::after {
            position: absolute;
            content: "";
            width: 3rem;
            height: 0.1rem;
            background-color: $main_color;
            border-radius: 50%;
            top: 4.25rem;
            transform: translateX(-50%);
          }
        }
      }
    }
    .plan_last_text {
      margin-top: 2.8rem;
      font-size: 1.7rem;
      line-height: 1.471;
      @include mq($sm) {
        margin-top: 1.5rem;
        line-height: 1.875;
        font-size: 1.6rem;
      }
    }
    .border_bottom {
      border-bottom: 1px solid #000;
    }
    .plan_table tr.border_bottom th.plan_title {
      padding: 0 2rem;
      @include mq($sm) {
        padding: 0 1rem;
      }
    }
  }
}

.scroll__inner {
  overflow-x: auto;
  overflow-y: hidden !important;
}

.scroll__inner .simplebar-placeholder {
  height: auto !important;
}

@media screen and (max-width: 767px) {
  .plan_table {
    width: 72.1rem;
  }

  .scroll-area {
    padding-bottom: 2.5rem;
  }

  .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
    height: 100% !important;
    display: block !important;
  }
  .simplebar-track .simplebar-scrollbar::before {
    background: rgba(80, 80, 80, 0.15);
    border-radius: 0;
  }

  .simplebar-track {
    background: rgba(80, 80, 80, 0.25);
    height: 2.5rem !important;
  }
}
