@charset "UTF-8";
@use "../../foundation/variable" as *;
@use "../../foundation/base" as *;
@use "../../foundation/normalize";

.contact_form_container {
  padding: 6.8rem 0 10rem;
  @include mq($sm) {
    padding: 4.7rem 0 10.7rem;
  }
  p {
    text-align: center;
    margin-bottom: 6.5rem;
    line-height: calc(30 / 18);
    @include mq($sm) {
      text-align: left;
      margin-bottom: 3.2rem;
      line-height: calc(30 / 16);
    }
  }
}

.contact_form {
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .form_group {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    &:nth-last-of-type(4) {
      margin-bottom: 2.4rem;
      @include mq($sm) {
        margin-bottom: 1.1rem;
      }
    }
    &:nth-last-of-type(3) {
      margin-bottom: -0.3rem;
    }
    @include mq($sm) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 1.6rem;
    }
  }

  .form_label {
    width: 16.9rem;
    flex-shrink: 0;
    font-size: 2rem;
    line-height: 1.5;
    pointer-events: none;
    padding-top: 0.4rem;
    @include mq($sm) {
      padding-top: 0;
      font-size: 1.6rem;
      line-height: 2.063;
      font-weight: 500;
    }
  }
  .label_text {
    pointer-events: auto;
  }

  .form_input {
    flex-grow: 1;
    padding: 0 2rem;
    border: 0.5px solid #000;
    box-sizing: border-box;
    line-height: 2.2;
    height: 4rem;
    color: #000;
    @include mq($sm) {
      width: 100%;
    }
  }

  .form_input::placeholder {
    color: #b2b2b2;
    font-size: 1.5rem;
    line-height: 2.2;
  }

  .purpose_group {
    align-items: stretch;
    .checkbox_container {
      flex-grow: 1;
      .checkbox_item {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        input[type="checkbox"] {
          width: 2rem;
          height: 2rem;
          flex-shrink: 0;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border-radius: 0;
          border: 1px solid #000;
          background-color: #fff;
          position: relative;
          display: grid;
          place-content: center;
          cursor: pointer;
        }
        input[type="checkbox"]:checked {
          border-color: #000;
          background-color: #fff;
        }
        input[type="checkbox"]:checked::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 0.7rem;
          height: 1.2rem;
          border: solid black;
          border-width: 0 0.3rem 0.3rem 0;
          transform: translate(-50%, -60%) rotate(45deg);
        }
        label {
          width: auto;
          padding-top: 0;
          cursor: pointer;
          &.check {
            padding-left: 2rem;
          }
        }
      }
    }
  }

  // 内容 (テキストエリア)
  .content_group {
    align-items: flex-start;
    margin-top: 2.1rem;
    @include mq($sm) {
      margin-top: 0rem;
    }
    .content_label {
      padding-top: 0;
    }

    .form_textarea {
      flex-grow: 1;
      padding: 1.3rem 2rem 2rem;
      border: 0.5px solid #000;
      resize: none;
      font-size: 1.5rem;
      min-height: 30rem;
      max-width: 71.1rem;
      line-height: 1.677;
      @include mq($sm) {
        height: 19rem;
        min-height: 0rem;
        width: 100%;
      }
    }
  }

  // 送信ボタン
  .submit_button_container {
    text-align: center;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq($sm) {
      margin-top: 3.5rem;
    }
    .submit_button {
      font-weight: 700;
      width: 25rem;
      height: 5rem;
      font-size: 2.5rem;
      line-height: 1.32;
      @include mq($sm) {
        width: 33.5rem;
        font-size: 2rem;
        line-height: 1.3;
      }
    }
  }
}
