@charset "UTF-8";
@use "../../foundation/variable" as *;
@use "../../foundation/base" as *;
@use "../../foundation/normalize";

section.blog {
  padding: 6.7rem 0 21rem 0;
  @include mq($sm) {
    padding: 4.7rem 0 20.3rem 0;
  }
}
