@charset "UTF-8";
@use "../../foundation/variable" as *;
@use "../../foundation/base" as *;
@use "../../foundation/normalize";

.contact_form_container {
  padding: 6.8rem 0 10rem;

  @include mq($sm) {
    padding: 4.7rem 0 10.7rem;
  }

  p {
    text-align: center;
    line-height: calc(30 / 18);

    @include mq($sm) {
      text-align: left;
      line-height: calc(30 / 16);
    }
  }
}

.form_wrapper {
  margin-top: 6.5rem;
  @include mq($sm) {
    margin-top: 3.6rem;
  }

  .contact_form {
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .form_group {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    @include mq($sm) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 1.6rem;
    }
  }

  .form_label {
    width: 16.9rem;
    flex-shrink: 0;
    font-size: 2rem;
    line-height: 1.5;
    @include mq($sm) {
      width: 100%;
      padding-top: 0;
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 0.8rem;
    }
  }

  .form_input {
    flex: 1;
    height: 4rem;
    padding: 0 2rem;
    border: 0.5px solid #000;
    line-height: 2.2;
    @include mq($sm) {
      width: 100%;
      flex: none;
    }
  }

  .form_input::placeholder {
    color: #b2b2b2;
    font-size: 1.5rem;
  }

  .purpose_group {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2.7rem;
    @include mq($sm) {
      margin-bottom: 0.6rem;
    }

    .purpose_fieldset {
      display: contents;

      @include mq($sm) {
        flex-direction: column;
      }
    }

    .purpose_label {
      width: 16.9rem;
      flex-shrink: 0;
      font-size: 2rem;
      line-height: 1.5;
      @include mq($sm) {
        width: 100%;
        font-size: 1.6rem;
        margin-bottom: 1rem;
      }
    }

    .checkbox_container {
      flex: 1;
    }

    .checkbox_item {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
    }

    input[type="checkbox"] {
      position: relative;
      width: 2rem;
      height: 2rem;
      min-width: 2rem;
      min-height: 2rem;
      border: 1px solid #000;
      appearance: none;
      cursor: pointer;
      border-radius: 0;
      background: #fff;
      flex-shrink: 0;

      &:checked {
        background-color: #fff;
        border-color: #000;
      }

      &:checked::before {
        border-color: #000;
      }

      &::after {
        display: none;
      }
    }

    .check {
      padding-left: 2rem;
      cursor: pointer;
      @include mq($sm) {
        padding-left: 1rem;
      }
    }
  }

  .content_group {
    align-items: flex-start;
    margin-bottom: 5rem;
    .label_text {
      margin-top: 1rem;
      display: block;
      @include mq($sm) {
        margin-top: 0;
      }
    }
    .form_textarea {
      flex: 1;
      padding: 1.3rem 2rem 2rem;
      border: 0.5px solid #000;
      resize: none;
      font-size: 1.5rem;
      min-height: 30rem;

      @include mq($sm) {
        width: 100%;
        min-height: 19rem;
      }
    }
  }

  .submit_button_container {
    display: flex;
    justify-content: center;

    .submit_button {
      width: 25rem;
      height: 5rem;
      font-size: 2.5rem;
      font-weight: 700;

      @include mq($sm) {
        width: 33.5rem;
        font-size: 2rem;
      }
    }
  }
}

.contact_btn {
  margin-right: 10rem;
  @include mq($sm) {
    margin-right: 2rem;
  }
}

// ==========================================================================
// Snow Monkey Forms 
// ==========================================================================
.snow-monkey-form {
  max-width: 90rem;
  margin: 0 auto;
}
.smf-text-control,
.smf-email-control,
.smf-tel-control,
.smf-textarea-control {
  width: 100%;
  display: flex;
}

.smf-form--business,
.smf-form--simple-table,
.smf-form {
  .smf-item {
    border: none;
    margin-bottom: 3rem;
    display: flex;
    &:last-child {
      margin-bottom: 5.4rem;
    }
    @include mq($sm) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 1.6rem;
    }
  }

  .smf-item__col {
    padding: 0;
    background-color: transparent;
    border: none;
  }

  .smf-item__col--label {
    width: 16.9rem;
    flex: 0 0 16.9rem;
    max-width: 16.9rem;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: normal;

    @include mq($sm) {
      width: 100%;
      flex: 0 0 100%;
      max-width: 100%;
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 0.8rem;
      padding-top: 0;
    }
  }

  .smf-item__col--controls {
    flex: 1 1 auto;
    max-width: none;
    width: 100%;
  }

  .smf-text-control__control {
    flex: 1;
    height: 4rem;
    padding: 0 2rem;
    border: 0.5px solid #000;
    line-height: 2.2;
    font-size: 1.5rem;
    border-radius: 0;
  }

  .smf-control {
    width: 100%;
    border: 1px solid #000;
    border-radius: 0;
    padding: 0 2rem;
    background-color: #fff;
    box-sizing: border-box;

    &::placeholder {
      color: #b2b2b2;
      font-size: 1.5rem;
    }

    &:focus {
      outline: none;
      border-color: #333;
    }
  }

  input[type="text"].smf-control,
  input[type="email"].smf-control,
  input[type="tel"].smf-control {
    height: 4rem;
    line-height: 2.2;
  }

  .smf-textarea-control__control {
    border-radius: 0;
    --_border-radius: 0;
    box-shadow: none;
    min-height: 30rem;
    border: 0.5px solid #000;
    font-size: 1.5rem;
    @include mq($sm) {
      min-height: 19rem;
    }
  }

  textarea.smf-control {
    padding: 1.3rem 2rem 2rem;
    resize: none;
    height: auto;
    border-radius: 0;
  }
  .smf-textarea-control__control {
    padding: 1.3rem 2rem;
  }

  // チェックボックス全体のラッパー
  .smf-checkboxes {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 0.5rem;
    .smf-label {
      height: auto;
      margin: 0;
    }

    .smf-checkbox {
      display: flex;
      align-items: center;
      font-size: 1.8rem;
      cursor: pointer;
      margin: 0;
      line-height: 1;
      @include mq($sm) {
        font-size: 1.6rem;
      }
    }
  }

  .smf-checkbox-control {
    display: inline-flex;
    align-items: center;
    column-gap: 2rem;
    
    @include mq($sm) {
      column-gap: 1rem;
    }
    input[type="checkbox"] {
      margin: 0; 
      padding: 0;
      vertical-align: middle;
    }
  }
}

// 送信ボタン
.smf-action {
  display: flex;
  justify-content: center;
  margin-top: 4rem;

  .smf-button-control__control {
    width: 25rem;
    height: 5rem;
    transition:
      background-color 0.4s,
      color 0.4s;
    background-color: $main_color;
    background-image: none;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    border: none;
    border-radius: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    &:hover {
      background-color: #fff;
      color: $main_color;
      border: 1px solid $main_color;
    }

    @include mq($sm) {
      width: 33.5rem;
      font-size: 2rem;
    }
  }
}

.smf-form--business + .smf-action {
  margin: 0;
}

.smf-form
  :is(
    .smf-textarea-control__control:active,
    .smf-textarea-control__control:focus,
    .smf-textarea-control__control:focus-within,
    .smf-textarea-control__control[aria-selected="true"]
  ) {
  --_border-color: #000;
}

@include mq($sm) {
  .target-item .smf-item__label__text br {
    display: none;
  }
}

// ==========================================================================
// 「内容」項目の個別マージン・位置調整（!importantなし）
// ==========================================================================

// PC時の調整
.smf-form .smf-item.content_group {
  .smf-item__col--label {
    padding-top: 1.4rem;
    @include mq($sm) {
      padding-top: 0;
    }
  }
}
