@charset "UTF-8";
@use "../../foundation/variable" as *;
@use "../../foundation/base" as *;
@use "../../foundation/normalize";

section.search_sec {
  padding: 6.8rem 0 21rem;
  @include mq($sm) {
    padding: 3.5rem 0 20.3rem;
  }
  div.search_sec.inner {
    div.search_sec_container {
      div.search_sec_title {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        h2 {
          font-size: 1.8rem;
          margin-bottom: 4rem;
          span {
            font-weight: 700;
          }
        }
        p {
          font-size: 1.8rem;
          line-height: 1.667;
        }
      }
      div.blog {
        ul {
          li.blog_item {
            a {
              div.blog_item_right {
                h3 {
                  margin-bottom: 0.2rem;
                  @include mq($sm) {
                    margin-bottom: 0.6rem;
                  }
                }
                div.time_right {
                  p {
                    margin-top: 0;
                    @include mq($sm) {
                      font-size: 1.7rem;
                      line-height: 1.765;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
