@charset "UTF-8";
@use "../../foundation/variable" as *;
@use "../../foundation/base" as *;
@use "../../foundation/normalize";

section.sec1_blog_details {
  padding: 7rem 0 18.3rem 0;
  @include mq($sm) {
    padding: 5.3rem 0 19.7rem 0;
  }
  .sec1_blog_details.inner {
    display: flex;
    gap: 3rem;
    @include mq($sm) {
      flex-direction: column;
      gap: 3rem;
    }
    .sec1_left_content {
      position: relative;
      flex: 1 1 60%;
      .sec1_left_img {
        max-width: 60rem;
      }
      h1 {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.6;
        margin: 4.6rem 0 0.5rem 0;
        @include mq($sm) {
          font-size: 2rem;
          line-height: 1.5;
          margin: 3rem 0 0.5rem 0;
        }
      }
      time {
        font-size: 1.7rem;
        line-height: 1.765;
      }
      .sns_content {
        margin-top: 2.1rem;
        ul.sns_list {
          display: flex;
          gap: 0.4rem;
          @include mq($sm) {
            gap: 0.2rem;
          }
        }
        a {
          transition: opacity 0.4s;
          &:hover {
            opacity: 0.7;
          }
        }
      }
      .blog_details_content {
        p.text_top {
          margin-top: 4.8rem;
          @include mq($sm) {
            margin-top: 2.7rem;
          }
        }
        h2 {
          font-size: 2rem;
          line-height: 2;
          font-weight: 700;
          margin-top: 3.3rem;
          @include mq($sm) {
            margin-top: 3.9rem;
            line-height: 1.5;
          }
        }
        p.text_bottom {
          margin-top: 1.5rem;
          @include mq($sm) {
            margin-top: 1.7rem;
          }
        }
        .text_bottom_img {
          margin: 1.7rem 0 2.8rem 0;
          width: 33.5rem;
          @include mq($sm) {
            margin: 3.9rem 0 2.7rem 0;
          }
        }
        ul {
          border-bottom: 0.5px solid #000;
          padding-bottom: 4.1rem;
          @include mq($sm) {
            margin-bottom: 3.85rem;
            padding-bottom: 3.8rem;
          }
        }
      }
      .blog_details_content02 {
        margin-top: 4.3rem;
        @include mq($sm) {
          margin-top: 5rem;
        }
        h3 {
          font-size: 2rem;
          line-height: 2;
          font-weight: 700;
          position: relative;
          padding-left: 0.9rem;
          @include mq($sm) {
            line-height: 1.5;
          }
        }
        h3::before {
          content: "";
          display: block;
          width: 0.3rem;
          background-color: #000;
          position: absolute;
          left: 0.1rem;
          top: 1rem;
          height: 2rem;
        }
        .sec1_left_textbox {
          background: #e8e8e8;
          margin-top: 1.7rem;
          position: relative;
          @include mq($sm) {
            margin-top: 1.95rem;
          }
          &::after {
            content: "";
            display: inline-block;
            position: absolute;
            width: 3rem;
            height: 3rem;
            top: 2rem;
            left: 3rem;
            background-image: url(https://hamakoro-i.com/music_school/img/icon_logo/quotation.svg);
            background-repeat: no-repeat;
            background-size: contain;
            vertical-align: middle;
            @include mq($sm) {
              width: 2.6rem;
              height: 2.4rem;
              top: 2.2rem;
              left: 2.7rem;
            }
          }
          p.question {
            padding: 1.8rem 3rem 1rem 6.7rem;
            margin-bottom: 2.7rem;
            @include mq($sm) {
              padding: 1.8rem 2rem 1rem 7rem;
            }
          }
        }
        a.sec1_left_textlink {
          font-size: 2rem;
          font-weight: 700;
          color: $main_color;
          line-height: 1.65;
          text-decoration: underline;
          transition: opacity 0.4s;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
    aside.sidebar {
      flex: 1 1 40%;
      @include mq($sm) {
        font-size: 1.8rem;
        line-height: 1.833;
      }
      h3.sidebar_title {
        background: #000;
        color: #fff;
        padding: 1rem 0;
        text-align: center;
        font-weight: 700;
        @include mq($sm) {
          padding: 0.9rem 0 0.8rem 0;
        }
      }
      section.sidebar_mail {
        margin-bottom: 3rem;
        .banner {
          border: 1px solid #000;
          padding: 1.5rem;
          a {
            transition: opacity 0.4s;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
      section.sidebar_search {
        margin-bottom: 3rem;
        .search_box {
          border: 1px solid #000;
          padding: 1.4rem;
          @include mq($sm) {
            padding: 2rem;
          }
          form.search-container {
            background: #e8e8e8;
            position: relative;
            input.search-input {
              width: calc(100% - 4rem);
              height: 4rem;
              padding: 0 1.5rem;
              font-size: 1.4rem;
              @include mq($sm) {
                height: 5.4rem;
              }
            }
            .search_icon {
              position: absolute;
              width: 4rem;
              height: 4rem;
              background-color: #000;
              top: 0;
              right: 0;
              @include mq($sm) {
                width: 5.4rem;
                height: 5.4rem;
              }
              button.search-button {
                background-repeat: no-repeat;
                background-position: center;
                width: 100%;
                height: 100%;
                cursor: pointer;
                pointer-events: auto;
                transition: opacity 0.4s;
                z-index: 2;
                background-image: url(../img/icon_logo/icon-search.svg);
                &:hover {
                  opacity: 0.7;
                }
                @include mq($sm) {
                  background-image: url(../img/icon_logo/icon-search_sp.svg);
                }
              }
            }
          }
        }
      }
      section.sidebar_posts {
        margin-bottom: 3rem;
        ul.post_list {
          margin-top: 1.5rem;
          @include mq($sm) {
            margin-top: 2rem;
          }

          li.post_item {
            &:not(:last-child) {
              margin-bottom: 1.5rem;
              @include mq($sm) {
                margin-bottom: 2.1rem;
              }
            }

            a.post_link {
              display: flex;
              gap: 1.5rem;
              transition: opacity 0.4s;
              &:hover {
                opacity: 0.7;
              }
              @include mq($sm) {
                gap: 2rem;
              }

              .post_img_wrapper {
                flex-shrink: 0;
                width: 9.5rem;

                @include mq($sm) {
                  width: 16rem;
                  height: 11rem;
                }
              }

              h3 {
                font-size: 1.7rem;
                line-height: 1.647;
                @include mq($sm) {
                  margin-top: 1rem;
                }
              }
            }
          }
        }
      }
      section.sidebar_category {
        ul.category_list {
          li.category_item {
            border-bottom: 0.5px solid #000;
            a.category_link {
              display: block;
              cursor: pointer;
              font-size: 1.7rem;
              line-height: 1.647;
              padding: 1.2rem 0 0.4rem 0;
              transition: opacity 0.4s;
              &:hover {
                opacity: 0.7;
              }
              @include mq($sm) {
                padding: 1.2rem 0 0.1rem 0;
              }
            }
          }
        }
      }
    }
  }
}
