@charset "UTF-8";
@use "../foundation/variable" as *;
@use "../foundation/base" as *;
@use "../foundation/normalize";

header.header {
  width: 100%;
  height: 8rem;
  background-color: #fff;
  position: fixed;
  z-index: 999;
  @include mq($sm) {
    height: 5rem;
  }
  div.header_container {
    max-width: 108rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 10rem;
    justify-content: space-between;
    @include mq($sm) {
      padding: 1rem 2rem 1rem;
      height: 5rem;
    }
    a {
      display: flex;
      align-items: center;
      &:has(.header_logo) {
        transition: opacity 0.4s;
        &:hover {
          opacity: 0.7;
        }
      }
      .header_logo {
        width: 19.2rem;
        @include mq($sm) {
          width: 20.8rem;
        }
        .logo_text {
          display: none;
        }
      }
    }
    button.toggle_menu.js_toggolenav {
      span.toggle_line {
      }
    }
    nav.header_nav {
      display: flex;
      align-items: center;
      font-size: 1.7rem;
      font-weight: 700;
      line-height: 1.941;
      @include mq($sm) {
        font-size: 1.8rem;
        line-height: 1.833;
        color: #fff;
      }
      ul.header_list {
        display: flex;
        height: 8rem;
        li.header_item {
          margin-right: 3.3rem;
          @include mq($sm) {
            margin-right: 0;
          }
          a {
            display: flex;
            align-items: center;
            height: 100%;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: 2.5rem;
              height: 0.2rem;
              width: 100%;
              background-color: #000;
              transform: scaleX(0);
              transform-origin: center;
              transition: transform 0.3s ease;
            }

            &:hover::after {
              transform: scaleX(1);
            }
            @include mq($sm) {
              height: 5.8rem;
            }
          }
        }
      }
      a.c_button.button__head {
        font-size: 1.5rem;
        line-height: 2.2;
        transition: background-color 0.4s, color 0.4s;
        @include mq($sm) {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  header .toggle_menu {
    display: inline-block;
    width: 7.1rem;
    height: 5rem;
    position: absolute;
    z-index: 1001;
    top: 0;
    right: 0;
    background: $main-color;
    transition: background 0.4s;
  }

  header .open {
    background: $main-color;
  }

  header .toggle_menu .toggle_line {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-indent: -9999px;
    width: 3.2rem;
    height: 0.4rem;
    border-radius: 0.5rem;
    background-color: #fff;
  }

  header .toggle_menu .toggle_line::before {
    top: -1.2rem;
    -webkit-animation: menu-barTop 0.6s forwards;
    animation: menu-barTop 0.6s forwards;
    content: "";
    position: absolute;
    left: 0;
    width: 3.2rem;
    height: 0.4rem;
    border-radius: 0.5rem;
    transition: transform 0.4s ease, top 0.4s ease;
    background-color: #fff;
  }

  header .toggle_menu .toggle_line::after {
    top: 1.2rem;
    -webkit-animation: menu-barBottom 0.6s forwards;
    animation: menu-barBottom 0.6s forwards;
    content: "";
    position: absolute;
    left: 0;
    width: 3.2rem;
    height: 0.4rem;
    border-radius: 0.5rem;
    transition: transform 0.4s ease, top 0.4s ease;
    background-color: #fff;
  }

  header.open .toggle_menu .toggle_line {
    height: 0;
  }

  header.open .toggle_menu .toggle_line::before {
    transform: rotate(-45deg);
    top: -0.2rem;
    width: 3.2rem;
  }

  header.open .toggle_menu .toggle_line::after {
    transform: rotate(45deg);
    transition: transform 0.4s, top 0.4s;
    top: -0.2rem;
    width: 3.2rem;
  }
  .header_nav {
    position: absolute;
    top: 5rem;
    right: 0;
    background-color: $main-color;
    width: 30rem;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0s 0.4s;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  header.open .header_nav {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    visibility: visible;
    transition: opacity 0.4s ease, transform 0.4s ease;
  }

  .header_list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .header_item {
    transform: translateX(50px);
    transition: transform 0.4s ease;
    width: 100%;
  }

  header.open .header_item {
    transform: translateX(0);
  }

  .header_item a {
    display: flex;
    align-items: center; // ← 縦中央
    justify-content: flex-start;
    height: 5.8rem;
    padding: 0 2rem; // ← 縦paddingは入れない
    background-color: #cb0000; // 今の赤
    color: #fff;
    font-size: 1.8rem;
    text-decoration: none;
    white-space: nowrap;
    transition: background-color 0.4s;
    &::after {
      display: none;
    }
    &:hover {
      background-color: #000;
    }
  }
}
