@charset "UTF-8";

@use "./variable" as *;

html {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  word-break: break-all;
  font-size: 62.5%;

  // タブレット〜PC未満：画面幅いっぱいに可変
  @media (min-width: 768px) and (max-width: 940px) {
    font-size: calc(10 / 940 * 100vw);
  }

  // スマホ：375px以下はすべて可変にする（上限を375pxとする場合）
  @media (max-width: 767px) {

  // スマホ：375px以下はすべて可変にする（上限を375pxとする場合）
  @media (max-width: 767px) {
    font-size: calc(10 / 375 * 100vw);
  }
}
body {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体",
    "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  position: relative;
  line-height: 1.667;
  letter-spacing: 0;
  overflow-x: hidden;
  @include mq($sm) {
    font-size: 1.6rem;
    line-height: 1.875;
  }
}

main {
  padding-top: 8rem; // パンくずから移動してきた余白

  @include mq($sm) {
    padding-top: 5rem;
  }
}


.inner {
  max-width: 94rem;
  margin-inline: auto;
  padding-inline: 3rem;
  /* 767px 以下 */
  @include mq($sm) {
    padding-inline: 2rem;
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* PC、SPの非表示 */
@media (max-width: 767px) {
  .pc_only {
    display: none !important;
  }
}

@media (min-width: 767px) {
  .sp_only {
    display: none !important;
  }
}
