@charset "UTF-8";

@use "./variable" as *;

html {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  word-break: break-all;
  font-size: 62.5%;
  @media (min-width: 768px) and (max-width: 940px) {
    font-size: calc(10 / 940 * 100vw);
  }
  @media (min-width: 300px) and (max-width: 374px) {
    font-size: calc(10 / 375 * 100vw);
  }

  body {
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体",
      "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    position: relative;
    line-height: 1.667;
    letter-spacing: 0;
    @include mq($sm) {
      font-size: 1.6rem;
      line-height: 1.875;
    }
    .inner {
      width: 100%;
      max-width: 94rem;
      margin-inline: auto;
      padding-inline: 3rem;
      /* 767px 以下 */
      @include mq($sm) {
        padding-inline: 3rem;
      }

      /* 375px 以下 → 上書き */
      @media (max-width: 375px) {
        padding-inline: 2rem;
      }
    }
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* PC、SPの非表示 */
@media (max-width: 767px) {
  .pc_only {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .sp_only {
    display: none !important;
  }
}
